{% if doc.sales_order_detail_item|length > 0 %}
<div>
    <p class="h6">
        <b>Sales Order Detail</b>
    </p>
</div>

{% for row in doc.items %} {% if row.detail_id > 0%}
<table class="table table-bordered table-condensed">
    <tbody>
        <tr>
            <th class="table-sr">Sr</th>
            <th class="table-sr">#</th>
            <th>Parent</th>
            <th>DWG</th>
            <th>DWG Name</th>
            <th class="text-right" >Qty</th>
            <th class="text-right">Unit</th>
            <th class="text-right">Rate</th>
            <th class="text-right">Amt SGD</th>
        </tr>
        <tr  style="background-color:#76a1cc !important;font-weight: bold;"  >
            <td style="width: 2%;">{{ loop.index }}</td>
            <td style="width: 2%;"></td>
            <td style="width: 15%;">MAIN BOM</td>
            <td style="width: 20%;">{{ row.item_code}}</td>
            <td style="width: 24%;">{{ row.item_name }}</td>
            <td style="width: 5%; text-align: right;" >{{ row.qty }}</td>
            <td style="width: 5%; text-align: right;">{{ row.uom or row.stock_uom }}</td>
            <td style="width: 12%; text-align: right;">{{ row.get_formatted("rate", doc) }}</td>
            <td style="width: 15%; text-align: right;">{{ row.get_formatted("amount", doc) }}</td>
        </tr>
        {% set count = namespace(a=1) %} {% for detail in doc.sales_order_detail_item %} {% if row.detail_id == detail.bom_id %}
        {% if loop.changed(detail.parent_bom) %}
        <tr style="background-color:#e3e9ed!important;font-weight: bold;">
            <td style="width: 2%;"></td>
            <td style="width: 2%;">{{ count.a }}</td>
            <td style="width: 15%;">{{ detail.parent_bom}}</td>
            <td style="width: 20%;">{{ detail.item_code}}</td>
            <td style="width: 24%;">{{ detail.item_name }}</td>
            <td style="width: 5%; text-align: right;">{{ detail.qty }}</td>
            <td style="width: 5%; text-align: right;">{{ detail.uom or detail.stock_uom }}</td>
            <td style="width: 12%; text-align: right;">{{ detail.get_formatted("rate", doc) }}</td>
            <td style="width: 15%; text-align: right;">{{ detail.get_formatted("amount", doc) }}</td>
        </tr>
        {% else %}
        <tr >
            <td style="width: 2%;"></td>
            <td style="width: 2%;">{{ count.a }}</td>
            <td style="width: 15%;">{{ detail.parent_bom}}</td>
            <td style="width: 20%;">{{ detail.item_code}}</td>
            <td style="width: 24%;">{{ detail.item_name }}</td>
            <td style="width: 5%; text-align: right;">{{ detail.qty }}</td>
            <td style="width: 5%; text-align: right;">{{ detail.uom or detail.stock_uom }}</td>
            <td style="width: 12%; text-align: right;">{{ detail.get_formatted("rate", doc) }}</td>
            <td style="width: 15%; text-align: right;">{{ detail.get_formatted("amount", doc) }}</td>
        </tr>
        {% endif %}

        {% set count.a = count.a + 1 %} {% endif %} {% endfor %}
        {% endif %}
    </tbody>
</table>
<div style="page-break-before: always;"></div>
{% endfor %}
{% endif %}